
@inherits LayoutComponentBase

<center>
    <div class="col-4 card">
        <div class="col-12 row pt-1 pb-4" style="display: block;">
            <img src="/logos/taskmasterlogo2.png" width="250px" height="300px" />
        </div>
        <div class="col-12 row " style="display: block;">

            @Body

        </div>
        <div class="col-12 row">

            <p>&nbsp;</p>
        </div>
    </div>
</center>